/* Blue, orange, grey, white */            
@define-color body-dark #FFFFFF;
@define-color body #000000;
@define-color other #ffaa00;
@define-color other-dark #ee9900;
@define-color dark #000000;
@define-color darker #000000;
@define-color white #FFFFFF;

window {
  margin: 0px;
  border: 2px inset #212121;
  background-color: @darker;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @darker;
}

#scroll {
  margin: 0px;
  border: none;
  background-color: @darker;
}

#input {
  margin: 5px 5px;
  border-radius: 0px;
  color: @whiter;
  background-color: #000000;
}

#input image {
    border: none;
}

#input {
  outline: 4px solid @white;
}

#text {
  margin: 5px;
  color: #454545;
}

#entry {
  background-color: @darker;
}

#entry arrow {
  border: none;
  color: @white;
}

#entry:selected {
  border: 2px solid @body-dark;
}

#entry:selected #text {
  color: @white;
}

#entry:drop(active) {
  background-color: @other-dark;
}
